@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #000;
  color: #fff;
}
.light {
  background-color: #fff;
  color: #000;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.header__top {
  min-height: 100px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item + .menu__item {
  margin-top: 40px;
}
.portfolio__tab + .portfolio__tab {
  margin-left: 60px;
}
[data-filter] {
  transition: all 0.3s ease-in-out;
}
[data-filter]:hover {
  color: #36a8b3;
}
